<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses the data from <a target="_blank" href="https://weatherstack.com/">weatherstack</a> and <a target="_blank" href="https://www.mapbox.com/">Map box</a></p>
            <img src="/img/me.jpg" class="img-me">
        </div>
        {{>footer}}
    </body>


</html>